﻿@using Leer_CSV_MVC.Models
@model IEnumerable<Personas>
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
            background-color: #000;
            height: 100%;
            
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>

<body>

    @*@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
     <input type="file" name="postedFile" />
     <input type="submit" value="Importar" />
     <input type="submit" value="Total Personas Registradas" />
     
       @ViewBag.Total
    }

    @using (Html.BeginForm("Promedio", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
   
     <input type="submit" value="Promedio Edad Socios Racing"/>
         @ViewBag.Promedio
    }*@

    @*@using (Html.BeginForm("Top100", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
      <input type="submit" value="Top100" />*@
        

        @*if (Model.Count()>0)
            {
            <hr />
        <table cellpadding="0" cellspacing="0" style="text-align:right">
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Equipo</th>
            </tr>

            @foreach (Personas persona in Model)

            {
        <tr>
            <td>@persona.Nombre</td>
            <td>@persona.Edad</td>
            <td>@persona.Equipo</td>


        </tr>
            }

        </table>*@

             }

    }


    @*@if (Model.Count() > 0)
    {
<hr />
     <table cellpadding="0" cellspacing="0">
         <tr>
             <th>Nombre</th>
             <th>Edad</th>
             <th>Equipo</th>
             <th>Estado Civil</th>
             <th>Nivel de Estudios</th>


          </tr>
          @foreach (Personas persona in Model)
          {
                <tr>
                  <td>@persona.Nombre</td>
                  <td>@persona.Edad</td>
                  <td>@persona.Equipo</td>
                  <td>@persona.EstadoCivil</td>
                  <td>@persona.NivelEstudio</td>
                </tr>
           }
     </table>}*@


    <div class="Logo">
        <style type="text/css">
            .Logo {
                left: 24px;
                position: absolute;
                top: 18px;
                transition: opacity .4s ease;
                z-index: 42;
                height: 80px;
                width: 207px;
                background-image: url('../../RECURSOS/RecuLista.jpg');
                image-resolution: from-image;
            }
           
        </style>
    </div>

    <div class="Vista">
        <style type="text/css">
            .Vista {
                background-color: #ffff;
                border-radius: 10px;
                box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%), 0 10px 30px 0 rgb(0 0 0 / 20%);
                height: 25.625em;
                left: 5em;
                margin: -12.8125em 0 0;
                position: absolute;
                top: 50%;
                transition: transform .5s cubic-bezier(.77,0,.175,1);
                width: 23.5em;
                z-index: 30;
            }
        </style>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="postedFile" />



            <button type="submit" class="button" onsubmit=postedFile>
                ENVIAR
                <style type="text/css">
                    .button {
                        left: 50%;
                        position: absolute;
                        top: 85%;
                        transform: translate(-50%,-50%);
                        background: #409fff;
                        border: 1px solid #409fff;
                        border-radius: 1.25em;
                        box-sizing: border-box;
                        color: #fff;
                        cursor: pointer;
                        display: inline-block;
                        font-size: 1em;
                        height: 2.5em;
                        outline: 0;
                        font-weight: 500;
                        font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
                        transition: border-color .2s cubic-bezier(.77,0,.175,1),background-color .2s cubic-bezier(.77,0,.175,1),color .2s cubic-bezier(.77,0,.175,1);
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        width: 9.75em;
                    }
                </style>

            </button>

            <div class="Details">
                <style type="text/css">
                    .Details {
                    }
                </style>
                <label>Total Personas Registradas</label>
                @ViewBag.Total
            </div>

        }
        @using (Html.BeginForm("Promedio", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <label>Edad Promedio de Socios Racing</label>
            @ViewBag.Promedio

        }


        @using (Html.BeginForm("Top100", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <input type="submit" value="Top100" onsubmit=postedFile/>
            


            if (Model.Count()>0)
            {
                Model.Take(100);
                <hr />
            <table cellpadding="0" cellspacing="0" style="text-align:right" align="right">
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Equipo</th>
                </tr>

                @foreach (Personas persona in Model)

                {
            <tr>
                <td>@persona.Nombre</td>
                <td>@persona.Edad</td>
                <td>@persona.Equipo</td>


            </tr>
                }

            </table>




            }
        }


            @*<button type="submit" class="button" onsubmit=postedFile>
                ENVIAR
                <style type="text/css">
                    .button {
                        left: 50%;
                        position: relative;
                        top: 60%;
                        transform: translate(-50%,-50%);
                        background: #409fff;
                        border: 1px solid #409fff;
                        border-radius: 1.25em;
                        box-sizing: border-box;
                        color: #fff;
                        cursor: pointer;
                        display: inline-block;
                        font-size: 1em;
                        height: 2.5em;
                        outline: 0;
                        font-weight: 500;
                        font-family: -apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
                        transition: border-color .2s cubic-bezier(.77,0,.175,1),background-color .2s cubic-bezier(.77,0,.175,1),color .2s cubic-bezier(.77,0,.175,1);
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        width: 9.75em;
                    }
                </style>

            </button>*@
    </div>
</body>
</html>
