﻿@using Leer_CSV_MVC.Models
@model IEnumerable<Personas>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Top100</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
            background-color: #000;
            height: 100%;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
<body>
    @using (Html.BeginForm("Top100", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <input type="file" name="postedFile" />
        <input type="submit" value="Top100" />

     

        if (Model.Count() > 0)

        {

            <table cellpadding="0" cellspacing="0" style="text-align:left" align="left">
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Equipo</th>
                </tr>

                @foreach (Personas persona in Model)

                {
                    <tr>
                        <td>@persona.Nombre</td>
                        <td>@persona.Edad</td>
                        <td>@persona.Equipo</td>


                    </tr>
                }

            </table>

        }
    }
    }



</body>
</html>
